<% include ../partials/header.ejs %>
<div class="detail">
<center>
<h2>Encounter Detail</h2>
<img src="<%=encounter.image_deceased_url%>" alt="" style='max-height: 100px'>
<br>
<b>
<%= encounter.subject_name %>
</b>
<br>
</center>


<b>Cause of Death: </b>
<%= encounter.death_cause %>
<br>
<b>Age: </b>
<%= encounter.subject_age  %>
<br>
<b>Date: </b>
<%=idDate%>
<br>

<b>Location: </b>
<%= encounter.death_city %>, <%= encounter.death_state  %> <%= encounter.zip_code %>
<br>
<b>Agencies Involved: </b>
<%= encounter.agencies_involved %>
<br>
<b>Recorded Mental Illness? </b>
<%= encounter.agency_aware_mental_illness %>.
<br>
<b>Details: </b><br>
<%= encounter.event_description %>
<br>
<b>Offical Disposition: </b>
<%= encounter.official_disposition %>.
<br>
<b>News?
<a href="<%= encounter.news_url %>" target="blank">
</b>
<%= encounter.news_url %>
</a>
<br>
</div>

<% include ../encounters/new.ejs %>

<% include ../encounters/comments.ejs %>


<% include ../partials/footer.ejs %>
