<% include ../partials/header.ejs %>

<% for (var i = 0; i<encounters.length; i++){ %>

<div class="summary">
    <center><br>
<img src="<%=encounters[i].image_deceased_url%>" alt="no image available" style='height: 100px'><br>
<b><%= encounters[i].subject_name %></b>
<br>
</center>

<b>Cause of Death: </b><%= encounters[i].death_cause %><br>
<b>Date: </b><%=injuryDate[i]%>
    <br>

<b>Location: </b>
<%= encounters[i].death_city %>, <%= encounters[i].death_state  %> <%= encounters[i].zip_code %>
<br>

<b>Offical Disposition: </b><%= encounters[i].official_disposition %>.<br>
<b>
<a onclick="window.location ='http://localhost:4567/encounters/detail/' + <%= encounters[i].encounter_id %> ; return false;" style="text-align: right">

Click For Detailed Report</a></b><br>
</div>



<% }; %>


<% include ../partials/footer.ejs %>
