<% include ../partials/header.ejs %>

<div class="container">

<% encounter.forEach(encounter => { %>

<div class="detail">
    <center>
<br>
<img src="<%=encounter.image_deceased_url%>" alt="no image available" style='height: 100px'><br>
<b><%= encounter.subject_name %></b>
<br>
</center>

<b>Cause of Death: </b><%= encounter.death_cause %><br>
<b>Date: </b><%=encounter.injury_date%><br>
<b>Location: </b>
<%= encounter.death_city %>, <%= encounter.death_state  %> <%= encounter.zip %>
<br>

<b>Offical Disposition: </b><%= encounter.official_disposition %>.<br>
<b>
<a onclick="window.location ='http://localhost:4567/encounters/detail/' + <%= encounter.encounter_id %> ; return false;">

Click For Detailed Report</a></b><br>
</div>

<% }); %>

</div>

<% include ../partials/footer.ejs %>
